
header .logo img{
    width:125px;
    margin:2px;
    margin-left: 13px;
}
body{
    color:black;
    font-family:sans-serif;
    background-image:url(../../Imges/HOME.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width:auto ;
    height: 60em;
}
body a{
    text-decoration:none;
    color:black;

}
header div .nav{
    display:flex;
    justify-content: space-between;
    align-content: center;
   
}
 header div .list .link{
    display:flex;
    justify-content: space-between;
    width: fit-content;
    text-shadow:10px !important;
    
}
header div .list .link .navlist{
    list-style: none;
    margin-right:20px;
    margin-top:40px;
    font-size: 20px;
    color:black;
    text-shadow:20px !important;
    font-weight: bold;
    font-size: 25px;
    width: fit-content;
   
}
header div .list .link .navlist:hover{
 color:blue !important;
 text-shadow:20px !important;
 
}
.radio{
    float: right;
    width: 100;
    border-radius: 50%;
    accent-color: red;
}

.cards{
    align-items: center;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-between;
    text-align: center;
    font-size: 20px;

    
}
.card1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
 }
 .cards h1,h2{
    color:rgb(53, 148, 21);
 }
 .cards p{
    color: rgb(18, 94, 72);
 }
.bottom1{
    border:2px solid white ;
   
    border-radius: 30px;
    width:15em;
    margin-top: 30px;
    padding: 10px;
    background-color: whitesmoke ;
    box-shadow: 0 10px 10px 0 rgb(25, 25, 23); 
}
.bottom2{
    border:2px solid white ;
    border-radius: 30px;
    width:15em;
    margin-top: 80px;
    padding: 15px;
    background-color: whitesmoke ;
    box-shadow: 0 10px 10px 0 rgb(25, 25, 23); 
}
.top1{
    border:2px solid white ;
    border-radius: 30px;
    width:15em;
    margin-top: 30px;
    padding: 20px;
    background-color: whitesmoke ;
    box-shadow: 0 10px 10px 0 rgb(25, 25, 23); 

}
#shadow:hover{
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
}

.top2{
    border:2px solid white ;
    border-radius: 30px;
    width:15em;
    margin-top: 80px;
    padding: 20px;
    background-color: whitesmoke ;
    box-shadow: 0 10px 10px 0 rgb(25, 25, 23); 

}
.btn{
    font-size: 20px;
    border: 1px solid rgb(47, 173, 173);
    border-radius: 4px;
    color: white !important;
    font-weight: bold;
    width: 8em;
    height: 2em;

}
.btn:hover{
    background-color: rgb(52, 223, 195);
  

}