@import url("../header.css");

.namebar {
    padding-bottom: 15px;
    text-align: center;
    padding-left: 18px;

}

.namebar label {
    font-size: 20px;
    padding: 4px;

}

.namebar input {
    font-size: 20px;
    background-color: lightblue;
    color: black
}

.symbol {
    display: flex;
}

main img {
    width: 35px;
    margin-bottom: 15px;
    margin-left: 4px;
}

.tb1 {
    background-color: darkblue;
    color: white;
}

td {
    text-align: center;
    width: fit-content;
    background-color: white;

}

table tr td input {
    font-size: 18px;
    outline: 0;
    border: 0cm;
}

.empty {
    background-color: white;
}


table {
    width: 100%;
    height: 31em;
    font-size: 18px;
    align-items: center;
}

.arrow {
    align-items: center !important;
    font-size: 30px;
}

.arrow:hover {

    color: red;
}

button {
    font-size: 35px;
    background-color: lightblue;
    color: black !important;
    border: 2px solid lightblue;
    border-radius: 4px;
    margin-left: 20em;
    margin-top: 50px;
}