@import url("../header.css");

main .forms {
    font-size: 25px;
    align-items: center;

}

form h2 {
    font-size: 35px;
    text-align: center;
    display: block;

}

.one {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
}

.lists {
    font-size: 25px;
    margin-top: 15px;
    padding: 10px;
    background-color: lightblue;
}

.content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
    padding-top: 30px;
}


.one form .parts {
    font-size: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    width: 45em;
    height: auto;
    margin-left: 7em;
}

.button {
    font-size: 30px;
    background-color: lightblue;
    border: 2px solid lightblue;
    border-radius: 4px;
    display: inline;
    margin: 50px;
    margin-left: 22.5em;
    text-align: center;

}

.content1 .button span {
    padding-left: 15px;
    margin-top: 5px;
}