header .logo img{
    width:100px;
    border-radius:10px;
    height:fit-content;
    margin:2px;
}
body{
    color:black;
    font-family:sans-serif;
    background-image:url(../../Imges/background.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width:auto ;
}
 body .list .link .navelist{
    text-decoration:none;
    color:black;

}
header div .nav{
    display:flex;
    justify-content: space-between;
    align-content: center;
}
 header div .list .link{
    display:flex;
    justify-content: space-between;
    
}
header div .list .link .navlist{
    list-style: none;
    padding-right:20px;
    margin-top:40px;
    font-size: 20px;
    color:black;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;

}
.lists{
    display:flex;
    font-size:20px;
    margin:15px;
    border: solid 2px;
    padding:15px;
    border-radius:3px;
}
main .forms{
    font-size:20px;
    padding: 5px;
}

.one{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
    flex-wrap: wrap;
    margin:auto;
    font-size:30px;
   
}
.one form{
    border: solid 2px;
    padding: 25px;
    border-radius: 10px;
    background-color:lightblue;
    

}
.content .button{
    font-size: 20px;
    background-color: rgb(59, 139, 237);
    border-radius: 4px;
    border-color: rgb(59, 139, 237);
    float:right;
    color:white;
}
.content .button span{
    padding-left: 5px;
    margin-top: 5px;;
}
.forgot{
    font-size: 16px !important;
    color: 16px !important;

}
.login{
    text-decoration: none;
    color: white;
}

